<main>
    <h2>Welcome to the Sandbox</h2>
    <html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

   <style>
       #map { height: 500px; }
    </style>
</head>

<body>   
<div id="map"></div>


<script>
        var map = L.map('map').setView([0, 0], 11); // Initial center

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Function to update map with current location
    function updateMapWithLocation(location) {
        map.setView([location.coords.latitude, location.coords.longitude], 11);
        L.marker([location.coords.latitude, location.coords.longitude]).addTo(map)
            .bindPopup('Your current location').openPopup();
    }

    // If geolocation is supported by the browser
    if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(updateMapWithLocation);
    } else {
        alert('Geolocation is not supported by your browser');
    }

    // Function to make a request to TravelTime API and draw isochrone
    function drawIsochrone(location, time) {
        var apiKey = '6508b20eef4a1fc873163942b8902499';
        var url = 'https://api.traveltimeapp.com/v4/time-map';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Api-Key': apiKey
            },
            body: JSON.stringify({
                "departure_searches": [{
                    "id": "search",
                    "coords": {
                        "lat": location.lat,
                        "lng": location.lng
                    },
                    "transportation": {
                        "type": "public_transport"
                    },
                    "travel_time": time,
                    "departure_time": "now"
                }]
            })
        })
        .then(response => response.json())
        .then(data => {
            // Draw isochrone polygons on the map
            var isochrone = L.geoJSON(data.results[0].shapes, {
                style: function (feature) {
                    return { color: '#3388ff', fillColor: '#3388ff', fillOpacity: 0.4, weight: 1 };
                }
            }).addTo(map);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Example usage: draw isochrone for a certain location and time
    var location = { lat: location.coords.latitude, lng: location.coords.longitude }; // Example location (London)
    var travelTime = 15; // Example travel time in minutes
    drawIsochrone(location, travelTime);

{{!-- L.marker([40.743904,-74.036096]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup(); --}}
</script>

</body>
</html>
</main>